:root {
  --clr-cta: #50cb86;
  --clr-wishlist: #e04462;
  --clr-bckgrd: #efefef;
  --clr-pink-one: #ff5db1;
  --clr-pink-two: #ff61b3;
  --clr-blue-one: #005789;
  --clr-blue-two: #005a8f;
  --font-clr-one: #000000;
  --font-clr-two: #ffffff;
  --font-clr-three: #828282;
  --font-family: "Work Sans", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  list-style-type: none;
  text-decoration: none;
  color: var(--font-clr-two);
}

/* Header Part */
.header {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to bottom right, var(--clr-pink-one), var(--clr-blue-two));
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__top {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.header__center {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__center__title, .header__center__subtitle {
  margin-bottom: 30px;
}
.header__center__cta {
  text-transform: uppercase;
  background-color: var(--clr-cta);
  padding: 15px 30px;
  border-radius: 24px;
}

/* Menu Button*/
.header__top__menu {
  display: none;
  cursor: pointer;
}

.menu--one,
.menu--two,
.menu--three {
  width: 35px;
  height: 5px;
  background-color: var(--font-clr-two);
  margin: 6px 0;
  transition: 0.4s;
}

.change .menu--one {
  -webkit-transform: rotate(45deg) translate(9px, 6px);
  transform: rotate(45deg) translate(9px, 6px);
}

.change .menu--two {
  opacity: 0;
}

.change .menu--three {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
  transform: rotate(-45deg) translate(8px, -8px);
}

/* Pop-up Test */
.navigation__link,
.navigation__link--active,
.navigation__link--dropdown {
  margin-left: 30px;
}

.navigation__link--dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.navigation__link--dropdown .navigation__link--dropdown--sublink {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 160%;
  left: 70%;
  margin-left: -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation__link--dropdown .navigation__link--dropdown--sublink li {
  margin: 5px;
}

/* Popup arrow */
.navigation__link--dropdown .navigation__link--dropdown--sublink::before {
  content: "";
  position: absolute;
  top: -8%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(180deg);
}

/* Toggle this class - hide and show the popup */
.navigation__link--dropdown .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Pop-up Test */
/* End Header Part */
/***********************************************/
/* Main Part */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--font-clr-two);
}
.main__container {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.main__container__wrapper {
  width: 25%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 10px;
}
.main__container__wrapper--icon i {
  background-color: var(--clr-bckgrd);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: var(--clr-cta);
}
.main__container__wrapper--title {
  color: var(--font-clr-one);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.main__container__wrapper--text {
  color: var(--font-clr-three);
}
.main__container__wrapper--button {
  background-color: var(--clr-cta);
  border-radius: 25px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}
.main__container__wrapper:last-child {
  background-color: var(--font-clr-three);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.main__container__wrapper--icon:last-child i {
  background-color: var(--font-clr-two);
}

.main__two {
  width: 100%;
  background-image: linear-gradient(to top right, var(--clr-blue-two), var(--clr-pink-one));
  display: flex;
  justify-content: center;
}
.main__two__container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main__two__container__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 77.6%;
}
.main__two__container__left__header {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
}
.main__two__container__left__header--title {
  margin: 10px 0px;
  font-weight: 400;
}
.main__two__container__left__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main__two__container__left__body--img {
  width: 70%;
}
.main__two__container__left__body--description {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main__two__container__left .description--block--title {
  margin-bottom: 20px;
}
.main__two__container__left .description--block--title span {
  margin-left: 20px;
}
.main__two__container__right {
  background-color: var(--font-clr-three);
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0.5;
}
.main__two__container__right--block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__two__container__right--block--number {
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
